* {
    box-sizing: border-box;
}

html.dark {
    background-color: #09090b;
    color: #fff;
}

a {
    color: inherit;
}

.dark .menu {
    background-color: #fff;
    color: #09090b;
}

.dark .nav-links a {
    color: #fff;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings:
        "liga" 1,
        "calt" 1,
        /* fix for Chrome */ "ss02",
        "ss03";
}
@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

html {
    background-color: #f1f5f9;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    font-family: Inter, sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

code,
pre {
    font-size: 0.875rem;
    font-family:
        JetBrains Mono,
        monospace;
}

code {
    background-color: hsl(40 90 60 / 0.25);
    padding: 0.1rem 0.3rem;
    font-weight: 600;
    border-radius: 4px;
}

/* nav styles */
.menu {
    background-color: #0d0950;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-links {
    width: 100%;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
    text-decoration-color: hsl(2 100 60);
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: inline-flex;
        gap: 1.4rem;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-flex;
        text-decoration: underline wavy;
    }

    .menu {
        display: none;
    }
}
