---
const { tag } = Astro.props;
---

<p class="tag">
    <a href={`/tags/${tag}`}>{tag}</a>
</p>

<style is:global>
    .tag > a {
        color: #00539f;
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
    }
    .tag {
        margin: 0;
        border: dotted 1px #a1a1a1;
        border-radius: 0.35em;
        padding: 0.45em 0.8em;
        font-size: 1rem;
        background-color: #f8fcfd;
    }

    .dark .tag {
        background-color: hsl(0 0 20 / 0.35);
        border: dotted 1px hsl(100 100 100 / 0.35);
        color: #fff;
    }

    .dark .tag > a {
        color: #fff;
    }
</style>
